/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'inter', serif;
  line-height: 1.6;
  background-color: #050b2c;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
}

.sidebar {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 1.5rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: calc(100vh - 4rem);
  position: sticky;
  top: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.main-content {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.header {
  margin-bottom: 1.2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header h1 {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ffa509;
}

.clock-display {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.12);
  padding: 1rem;
  border-radius: 8px;
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 2rem;
}

nav {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.7rem 0;
}

nav .pages-btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.2s ease;
  width: 100%;
  height: 55px;
}

nav .pages-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  background-color: #ffb84d;
  transform: translateY(-2px);
}

footer h3 {
  color: #ffa509;
  margin-top: 1rem;
}

.timer-section {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#time {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.12);
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
}

